<h1 id="iota-workshop">IOTA Workshop</h1>
<p>Simple examples to help a developer work through interacting with the IOTA network.</p>
<h3 id="getting-started">Getting started</h3>
<p>To start playing with these examples run the following commands:</p>
<pre class="sourceCode bash"><code class="sourceCode bash"><span class="kw">git</span> clone https://github.com/iota-community/iota-workshop.git
<span class="kw">cd</span> iota-workshop
<span class="kw">npm</span> i
<span class="kw">node</span> code/1-hello-world.js</code></pre>
<p>You should receive a message including the statistics of an IOTA node. This means you can explore and run the other examples.</p>
<h3 id="examples-included">Examples included</h3>
<p>Here are the examples included:</p>
<ul>
  <li>1-hello-world.js</li>
  <li>2.1-send-hello.js</li>
  <li>2.2-fetch-hello.js</li>
  <li>3.1-create-address.js</li>
  <li>3.2-check-balance.js</li>
  <li>4-send-tokens.js</li>
  <li>5.1-send-data.js</li>
  <li>5.2-fetch-data.js</li>
  <li>6.1-zmq-listen.js</li>
  <li>6.2-zmq-message.js</li>
  <li>7.1-mam-public-send.js</li>
  <li>7.2-mam-public-fetch.js</li>
  <li>7.3-mam-private-send.js</li>
  <li>7.4-mam-private-fetch.js</li>
  <li>7.5-mam-public-watch.js</li>
</ul>
<h3 id="work-to-be-done">Work to be done:</h3>
<ul>
  <li>Provide directed commentary alongside each example!</li>
  <li>Improve code commenting</li>
  <li>Refactor code into a single style (arrows vs functions)</li>
  <li>Add complex application examples</li>
</ul>
<h4 id="contribution">Contribution</h4>
<p>PRs are welcome on <code>master</code></p>
<hr />
<p>:beers: Lewi</p>
<button mat-raised-button color="primary" (click)="generateSeed()">Generate seed</button><br>
{{seed}}
